[size=11][b][thing={{ objectid }}]{{ name }}[/thing][/b][/size], {{ play_count }}
{{ stars }} [bgcolor={{ bgcolor }}]&nbsp;[b]{{ rating }}/10[/b]&nbsp;[/bgcolor]
[floatleft][imageid={{ imageid }} small][/floatleft]
{{ comment }}
[clear]
